
.productosCuenta{
    background: linear-gradient(to bottom, #1E90FF,#87CEEB);
}

.animacionCaja{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
}

.liUsuarios:hover{
    background-color: #1E90FF;
    color: white;
}

.liVender{
    color: red;
}

.liVender:hover{
    background-color: red;
    color: white;
}
